body {
    background-color: black;
    box-sizing: border-box;
}
.container {
    background-color: lightcyan;
    width: fit-content;
    margin: 10% auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 1%;
}

form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.form-group {
    display: flex;
    justify-content: space-between;
    padding: 5px 0px;
}